.adress {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.logo.footer,
.adress {
  color: var(--footer-text-color);
}
.footer {
  background-color: #2f303a;
}
.footer-logo-container,
.advant-title,
.subscribe-title {
  margin-bottom: 20px;
}
.subscribe-title {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.section-footer {
  display: block;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;

    align-items: baseline;
    text-align: start;
  }
}
.footer-item {
  @media screen and (min-width: 1200px) {
    flex-basis: calc((50% - 45px) / 2);
  }
}
.subscribe {
  flex-basis: calc(50% - 15px);

  @media screen and (min-width: 767px) {
    margin-top: 60px;
  }
}
.contact-section-footer .item:not(:last-child) {
  margin-bottom: 9px;
}
.advantages {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}
.subscribe-form {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    flex: start;
    align-items: baseline;
  }
}
.subscribe-form-input {
  flex-grow: 1;
  min-height: 50px;
  width: 100%;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    width: 450px;
  }

  &:focus {
    outline: none;
    border-color: var(--accent-text-color);
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}
.subscribe-form-button {
  padding: 10px 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  @media screen and (min-width: 1200px) {
    margin-left: 10px;
  }
}
.footer-tlg-icon {
  fill: var(--footer-text-color);
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
