.header {
  letter-spacing: 0.02em;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__navigation {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: 95px;
  }
}

.menu,
.header-contacts {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.header-contacts {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header-contacts .contacts-section-link {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
}
.current::after {
  position: absolute;
  bottom: -33px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    bottom: -41px;
  }
}
.menu {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .link.current {
    color: var(--accent-text-color);
    position: relative;
  }

  .item:not(:last-child) {
    margin-right: 50px;
  }

  a {
    color: var(--title-text-color);

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
}
.header-contacts .item + .item {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.contacts-section-link,
.contacts-section-link-tel {
  display: block;

  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.contacts-section-link,
.contacts-section-link-tel {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu :hover,
.menu :focus,
.contacts-section-link:focus,
.contacts-section-link:hover,
.contacts-section-link-tel:hover,
.contacts-section-link-tel:focus {
  color: var(--accent-text-color);
}
.menu-mobile {
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  padding: 48px 40px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-mobile.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.menu-mobile-link {
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-mobile-link {
  margin-bottom: 32px;
}
.mobile-list-contacts {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}
.menu-mobile-contacts {
  display: inline-block;
  margin-bottom: 32px;
  color: #757575;
}
.menu-mobile-contacts.mobile-tel {
  font-size: 34px;
  line-height: 1.17;
  color: #2196f3;
}
.mobile-list-network {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  margin-top: 64px;

  letter-spacing: 0.02em;
}
.menu-mobile-network {
  color: #2196f3;
  display: inline-block;
}
.nav-menu-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 20px;
  right: 25px;
}
.menu-mobile .container {
  position: relative;
  height: 100%;
}
