.hero {
  background: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-backgr.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;

  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1200px) {
    height: 600px;
  }
}
// 0px - 767px 2x+
@media (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/hero/hero-mobile@2x.jpg");
  }
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/hero/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/hero/hero-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
// 768px+ 2x+
@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/hero/hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/herotheme.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/hero/herotheme@2x.jpg");
  }
}
.hero-title {
  color: white;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: 0;
  margin-left: 0;
  font-weight: 900;

  font-size: 26px;
  line-height: 1.62;

  text-align: center;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-title-container {
  text-align: center;

  @media screen and (min-width: 480px) {
    max-width: 360px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 696px;
  }
}
