.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  max-width: 450px;
  height: 95vh;
  overflow-y: scroll;
  background-color: #ffffff;
  border-radius: 4px;
  @media screen and (min-width: 1200px) {
    width: 100%;
    max-width: 528px;
    min-height: 580px;
    height: 580px;
  }
}
